jcan @ file:///home/leigh/GitHub/jCAN/release/jcan-0.1.0-cp38-abi3-manylinux2014_x86_64.whl
msgpack==1.0.4
packaging==23.0
patchelf==0.17.2.0
python-can==4.1.0
semantic-version==2.10.0
setuptools-rust==1.5.2
tomli==2.0.1
typing_extensions==4.4.0
wrapt==1.14.1
